// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #8bc6db;

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  h1 {
    text-transform: uppercase;
  }
}

.submit-button {
  background: $blue;
  color: white;
  cursor: pointer;
  border: 0;
  box-shadow:none;
  border-radius: 0px;
  font-size: 20px;
  padding: 10px;
  width: 260px;
  margin-top: 10px;
}

.inputField {
  padding: 10px;
  width: 237px;
  text-align: center;
  font-size: 20px;
  color: $blue;
  opacity: 0.3;
}

.appointment {
  padding-top: 10px;
  border-bottom: solid 1px #ccc
}

